[submodule "open-webui/IAedu_FCT_translation_layer"]
	path = open-webui/IAedu_FCT_translation_layer
	url = git@github.com:RuiFerreira05/IAedu_FCT_translation_layer.git
[submodule "baza"]
	path = baza
	url = git@github.com:RuiFerreira05/baza.git
[submodule "marimo/notebooks"]
	path = marimo/notebooks
	url = git@github.com:RuiFerreira05/marimo-notebooks.git
