# BookLore Application Settings
APP_USER_ID=
APP_GROUP_ID=
TZ=
BOOKLORE_PORT=

# Database Connection (BookLore)
DATABASE_URL=
DB_USER=
DB_PASSWORD=

# MariaDB Container Settings
DB_USER_ID=
DB_GROUP_ID=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=